APP_NAME="Inventory Sepatu"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://inventory.localhost

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_URL="postgresql://neondb_owner:npg_9HVAeoBz4rXO@ep-misty-sunset-aof6fnhh-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DB_HOST=ep-misty-sunset-aof6fnhh-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_DATABASE=neondb
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_9HVAeoBz4rXO
DB_SSLMODE=require
DB_CHANNEL_BINDING=require

CACHE_STORE=file
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_FROM_ADDRESS=inventory@example.com
MAIL_FROM_NAME="${APP_NAME}"

SERVICE_ROLE=all
